* {
  margin: 0;
  padding: 0;
  font-size: 10px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

body {
  background: #1c92d2; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    #a6d8f3,
    #1c92d2
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #a6d8f3,
    #1c92d2
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: 'Muli', 'Montserrat', sans-serif;
  width: 95%;
  margin: 0 auto;
  height: 100vh;
  .cards {
    display: flex;
    flex-wrap: wrap;
    height: 90%;
    padding: 4rem 0 2rem;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    .search {
      width: 100%;
      display: flex;
      justify-content: center;
      .search-box {
        position: relative;
        padding: 1rem 1.2rem;
        width: 100%;
        max-width: 36rem;
        margin: 2rem auto 4rem;
        outline: none;
        border: 3px solid #fff;
        border-radius: 15px;
        font-size: 1.5rem;
        font-family: 'Montserrat', sans-serif;
        color: #fff;
        background: rgba(255, 255, 255, 0.2);

        &::placeholder {
          color: #fff;
        }
      }
    }

    .card {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      width: 35%;
      border: 5px solid #fff;
      border-radius: 15px;
      color: #fff;
      padding: 1.2rem 2.4rem;
      height: 70%;

      .city-info {
        flex: 1;
        .city {
          font-size: 3.4rem;
        }
      }

      .center {
        flex: 2;

        .weather-info {
          display: flex;
          align-items: center;

          .temperature {
            font-size: 6.5rem;
            margin-right: 2rem;
            margin-top: 3rem;
          }
          .icon {
            align-self: flex-start;
            margin-bottom: 2rem;
          }
        }
      }

      .additional-info {
        display: flex;
        justify-content: space-around;
        align-items: center;

        p {
          font-size: 1.8rem;
          i {
            font-size: 1.8rem;
          }
        }
      }
      .more-temp {
        .description {
          font-size: 2.4em;
        }
      }
    }

    .sevenDays {
      display: none;
    }

    .search-container {
      display: flex;
      justify-content: center;
      width: 45%;
      height: 45%;
      align-items: center;
      border: 5px solid #fff;
      border-radius: 15px;

      .plus {
        width: 100%;
        max-width: 100px;
        cursor: pointer;
        display: none;
      }
    }
  }

  .text {
    width: 45%;
    margin: 0 auto;
    text-align: center;

    h4 {
      font-size: 1.5rem;
      color: #fff;

      a {
        font-size: 1.5rem;
        text-decoration: underline;
      }
    }
  }
}
